@import 'src/styles/vars';
* {
  box-sizing: border-box;
  }

body {
  background-color: darkred;
  font-family: 'Press Start 2P', cursive;
}
#poke-container {
  background-color: $background;
  width: 90%;
  margin: 1em auto;
  color: white;
  padding: 2em;
}
#app {
  text-align: center;
  margin: 1em auto;
  padding: 0.5em;
}